#parallax_1 {
    background-image: url(../img/art-1.jpg);
    ima
    /* height: 500px; */
    background-position: top center ;
}
#parallax_2 {
    background-image: url(../img/walking-2.jpg);
    background-position: center center ;
}
#parallax_3 {
    background-image: url(../img/grafitti.jpg);
    background-position: center center ;
}
.parallax_effect {
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
}
.parallax_wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    background-position-x: center;
    background-position-y: center;
    width: 800px;
    height: 360px;
    border-radius: 25px;
    margin: 0px auto;

}
.button{
    border-radius: 20px;
}
/* p{
    
} */